---
apiVersion: v2
name: home-assistant
version: 23.3.0
kubeVersion: ">=1.16.0-0"
description: Home Assistant
keywords:
  - home-assistant
  - hass
  - homeassistant
home: https://github.com/mikevader/charts/tree/master/charts/stable/home-assistant
sources:
  - https://github.com/home-assistant/home-assistant
  - https://github.com/cdr/code-server
  - https://github.com/mikevader/charts/tree/master/charts/stable/home-assistant
dependencies:
  - name: common
    repository: https://mikevader.github.io/charts
    version: 4.6.0
  - name: postgresql
    version: 15.5.38
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: mariadb
    version: 18.2.6
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb.enabled
  - name: influxdb
    version: 6.6.16
    repository: https://charts.bitnami.com/bitnami
    condition: influxdb.enabled
maintainers:
  - name: mikevader
    email: mikevader@users.noreply.github.com
icon: https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Home_Assistant_Logo.svg/519px-Home_Assistant_Logo.svg.png

# renovate: image=ghcr.io/home-assistant/home-assistant
appVersion: 2025.10.4

annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Upgraded `influxdb` chart dependency to version 6.6.16
